HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
generated
.gitattributes
/logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

src/main/resources/application.yml
src/main/resources/application-local.yml
src/main/resources/application-dev.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# src/main/resources/sql 폴더 전체 무시
src/main/resources/sql/




### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### yml ###
src/main/resources/*.yml

### DS_Store 제거(애플에서 정의한 파일 포맷) ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store


# src/test/resources 디렉토리 내부 모든 파일/폴더 무시
src/test/resources/**